* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header */
header {
    background-color: rgb(0, 255, 229);
    padding: 25px;
}
h1 {
    font-size: 1.8em;
}
/* Main content area */
main {
    padding: 25px;
}
h2 {
    font-size: 1.2em;
}
/* rectangles */
.rectangles-inner-square, .circles-inner-square, .everything-inner-square {
    border: dashed 2px black;
    padding: 20px;
    margin-bottom: 30px;
}
.circles-inner-square, .everything-inner-square {
    padding: 10px;
}
.purple-rec {
    width: 300px;
    height: 150px;
    background-color: purple;
    border: solid 4px red;
    display: inline-block;
    margin-right: 30px;
}
.blue-rec {
    width: 150px;
    height: 150px;
    background-color: blue;
    display: inline-block;
    border: solid 2px black;
    box-shadow: 5px 5px 5px black;
    margin-right: 30px;
}
.pink-rec {
    width: 300px;
    height: 300px;
    background-color: pink;
    display: inline-block;
    border: solid 2px black;
}
/* snowman */
.snowman-column {
    width: 300px;
}
.circle1, .circle2, .circle3 {
    border: solid 1px black;
    margin: 0 auto;
    border-radius: 50%;
}
.circle1 {
    width: 200px;
    height: 200px;
    padding-left: 65px;
    padding-top: 20px;
}
.circle2 {
    width: 250px;
    height: 250px;
    padding-top: 40px;
}
.circle3 {
    width: 300px;
    height: 300px;
}
.eye {
    width: 30px;
    margin: auto;
    display: inline-block;
}
.carrot-nose {
    width: 50px;
    display: block;
    margin-top: 20px;
}
.dot {
    display: block;
    width: 25px;
    padding-bottom: 30px;
    padding-top: 10px;
    margin: auto;
}
/* Everithing */
.gray-square {
    width: 400px;
    height: 400px;
    border: solid 2px black;
    background-color: rgb(214, 215, 189);
}
.green-circle {
    width: 300px;
    height: 300px;
    background-color: rgb(27, 123, 57);
    border: solid 2px black;
    border-radius: 50%;
}
.red-square {
    width: 190px;
    height: 190px;
    background-color: brown;
    margin: auto;
    margin-top: 50px;
}
.blue-circle {
    width: 150px;
    height: 150px;
    background-color: blue;
    border-radius: 50%;
}
.fish-tank {
    text-align: center;
    color: white;
    font-weight: 200;
}
.nemo {
    width: 50px;
    display: block;
    margin: auto;
    padding-top: 60px;
}















